@use 'variables' as v;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin card {
    background-color: v.$white;
    border-radius: v.$radius-md;
    padding: v.$space-md;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}